/*!
Theme Name: A-Level kids
Theme URI: http://underscores.me/
Author: Mironenko Alexandr
Description: Theme for A-Level kids
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
Text Domain: a-level-kids

*/
header .container .right .burger-menu ul .sub-menu {
	display: none;
	flex-wrap: wrap;
	width: 260px;
}

.sub-menu li {
	display: table !important;
	padding: 10px;
	text-align: left !important;
	margin: 0 !important;
}

header .main-nav li {
	position: relative;
}


header .container .right .burger-menu ul li:hover > .sub-menu {
	display: flex;
	background: #fff;
	z-index: 20;
	top: 20px;
}

header .main-nav > .sub-menu {
	min-width: 580px;
	left: 50%;
	transform: translateX(-50%);
}

header .main-nav > .sub-menu > li {
	padding: 0;
}

header .main-nav > .sub-menu > li .sub-menu {
	min-width: 100%;
	padding: 0;
}

header .main-nav > li > .sub-menu {
	display: none !important;
	position: absolute;
	top: 100%;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
	left: auto;
	min-width: 225px;
	padding: 10px 0;
}

header .main-nav > li > .sub-menu li {
	padding: 12px 15px;
}

header .main-nav > li > .sub-menu a {
	color: rgba(255, 255, 255, 0.7);
	transition: all 0.3s ease;
}

header .main-nav > li > .sub-menu a:hover {
	color: rgba(255, 255, 255, 1);
	display: block !important;
}

@media all and (max-width: 764px) {
	header .container .right .burger-menu_nav {
		max-width: 360px;
		width: 100%;
	}

	header .container .right .burger-menu ul li a {
		line-height: 1.4;
		letter-spacing: 2px !important;
		margin-top: 10px !important;
		display: inline-flex;
	}

	header .container .right .burger-menu ul li {
		flex-direction: column !important;
		align-items: flex-start !important;
		margin-left: 0 !important;
		padding: 5px 20px !important;

	}

	header .container .right .burger-menu ul .sub-menu li {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	header .container .right .burger-menu ul .sub-menu li:last-of-type {
		padding-bottom: 0 !important;
	}

	header .container .right .burger-menu ul .sub-menu {
		width: 100%;
	}

	header .container .right .burger-menu ul .menu-item-has-children {
		padding-top: 0 !important;
		position: relative;
	}

	header .container .right .burger-menu ul .menu-item-has-children .chevron-down {
		border: 5px solid transparent;
		border-top: 7px solid #000;
		margin-left: 15px;
		margin-top: 6px;
	}

}