@import "variables";
@import "global";

/*First-screen*/
.first-screen {

  padding-bottom: 80px;

  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container {
    display: flex;

    .left {
      width: 370px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 768px) {
        width: 100%;
      }


      .box-contact {
        display: flex;
        align-items: center;
        margin-top: 32px;

        .box-left {
          background-image: url(../img/icon.png);
          width: 70px;
          height: 70px;
          margin: 0 24px 0 0;

          @media (max-width: 360px) {
            margin: 16px 24px 0 0;
          }
        }

        .box-right {
          display: flex;
          flex-direction: column;

          @media (max-width: 320px) {
            margin-top: 35px;
          }

          p {
            font-size: 18px;
            font-weight: 500;


          }
          a{
            color: $black;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
          }

        }
      }
    }
    .right {
      width: calc(100% - 370px);

      padding-left: 50px;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
      }

      img {
        max-width: 100%;

      }
    }
  }
}

/*Second-screen*/
.contacts-page-main {
  .second-screen {

    .container {
      padding-bottom: 64px;

      &::before {
        content: url("../img/pic.png");
        position: absolute;
        left: 24px;
        bottom: -4px;

        @media (max-width: 992px) {
          display: none;
        }

      }

      &::after {
        content: url("../img/pic2.png");
        position: absolute;
        right: 24px;
        bottom: -4px;

        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }
}


