@import "variables";
@import "global";

/*First-screen*/
.first-screen {
  background-image: url(../img/fon_2.png);
  min-height: calc(100vh - 100px);
  background-size: cover;
  color: $white;


  @media (max-width: 768px) {
    background-position-x: 35%;
  }

  @media (max-width: 768px) {
    background-position-x: 45%;
    //height: 568px;
  }

  .container {

    .top {
      max-width: 486px;
      padding-bottom: 40px;
      padding-top: 270px;
      padding-bottom: 100px;

      @media (max-width: 768px) {
        max-width: 335px;
        padding: 220px 0 0 24px;
      }

      @media (max-height: 800px) {
        padding-top: 200px;
      }
      
      h1 {
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: 900;

        @media (max-width: 768px) {
          font-size: 30px;
        }
        @media (max-width: 468px) {
          font-size: 25px;
        }
        @media (max-width: 360px) {
          font-size: 18px;
          max-width: 195px;
        }
      }

      p {
        max-width: 486px;
        font-size: 20px;
        margin-bottom: 36px;
        padding-bottom: 36px;

        @media (max-width: 992px) {
          font-size: 20px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
        }
        @media (max-width: 468px) {
          font-size: 14px;
          padding: 0 0 24px;
        }
        @media (max-width: 360px) {
          font-size: 14px;
          max-width: 280px;
        }
      }

      .btn {
        @media (max-width: 468px) {
          padding: 12.5px 26px;
        }
      }
    }

    .bottom-video {
      display: flex;
      padding: 40px 0 0;
      align-items: center;

      .left {
        padding: 0 16px 0 0;
      }
    }
  }
}

.fourth-screen {
  padding: 120px 0;

  @media (max-width: 992px) {
    padding: 60px 0;
  }

  @media (max-width: 568px) {
    padding: 30px 0;
  }

  h3 {
    margin: 0 0 40px 0;
  }

  h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 700;

    margin: 20px 0 40px 0;


    @media (max-width: 768px) {
      font-size: 25px;
    }

    @media (max-width: 768px) {
      font-size: 22px;
    }
    @media (max-width: 568px) {
      font-size: 20px;
    }

    @media (max-width: 370px) {
      font-size: 16px;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    margin: 20px 0;

    .left {
      width: 384px;

      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 20px;

        display: flex;
        justify-content: center;
      }

      img {
        width: 100%;
        height: auto;

        border-radius: 15px;

        @media (max-width: 992px) {
          max-width: 450px;
        }
      }
    }

    .right {
      width: calc(100% - 384px);
      padding-left: 24px;
      font-size: 14px;

      @media (max-width: 992px) {
        width: 100%;
        padding-left: 0;
      }

      p {
        @media (max-width: 468px) {
          font-size: 14px;
          padding: 0 24px 0 0;
        }
      }


      h3, h4, h5, h6 {
        margin-top: 24px;
        margin-bottom: 8px;
      }

      ul {
        column-count: 2;
        list-style: none;
        padding-left: 12px;
        padding-right: 12px;

        @media (max-width: 568px) {
          column-count: 1;
        }

        li {
          position: relative;
          margin-bottom: 8px;

          &::before {
            position: absolute;
            content: url("../img/square.png");
            left: -13px;

          }
        }
      }

    }
  }

  .course {
    margin-bottom: 50px;

    .top {
      margin-bottom: 40px;
    }

    .row {
      display: flex;
      width: calc(100% + 30px);
      margin: 40px 0;
      margin-left: -15px;

      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      .col {
        width: calc(33% - 30px);
        margin: 0 15px;

        @media (max-width: 768px) {
          width: calc(49% - 30px);
          margin-bottom: 15px;
        }
        @media (max-width: 468px) {
          width: calc(92% - 30px);
          margin-bottom: 15px;
        }

        .top-col {
          background: $light-blue;
          border-radius: 15px 15px 0 0;

          h5 {
            text-align: center;
            padding: 16px 0;
            color: $white;
          }

          p {
            @media (max-width: 992px) {
              padding: 34px 8px;
            }
          }
        }

        .bottom-col {
          text-align: center;
          box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2);
          border-radius: 0 0 15px 15px;

          p {
            padding: 34px 24px;

            @media (max-width: 992px) {
              padding: 24px 7px;
            }
          }
        }
      }
    }

    .btns-row {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 40px 0 0 0;

      @media (max-width: 768px) {
        margin: 40px 0 90px 0;
      }
      @media (max-width: 360px) {
        margin: 40px 0 64px 0;
      }

      a {
        font-weight: normal;

        @media (max-width: 360px) {
          padding: 13px 75px;
        }
      }
    }
  }
}

