@import "variables";
@import "global";


/*First-screen*/
.first-screen {
  background-image: url(../img/fon_1.png);
  height: calc(100vh - 100px);

  background-size: cover;
  color: $white;

  @media (max-width: 992px) {
    background-position-x: 50%;
  }
  @media (max-width: 360px) {
    background-position-x: 65%;
    height: 568px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content{
      max-width: 490px;
      margin-bottom: 80px;
    }
    h1 {
      padding-bottom: 8px;
    }

    p {
      font-size: 20px;
      font-weight: 500;


      @media (max-width: 568px) {
        font-style: normal;
        font-size: 18px;
      }
      @media (max-width: 568px) {
        font-size: 14px;
      }
    }
  }
}


/*Second-screen*/
.second-screen {
  padding-top: 120px;
  padding-bottom: 180px;

  @media (max-width: 992px) {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 0 0 40px 0;

      @media (max-width: 768px) {
        margin: 0 0 20px 0;
      }
    }

    @media (max-width: 992px) {
      display: flex;
    }

    .row {
      display: flex;
      flex-wrap: wrap;

      width: calc(100% + 30px);

      .col {
        margin: 0 15px 15px 15px;
        border-radius: 20px;
        padding: 15px;

        background: $light-blue;

        width: calc(33% - 30px);

        @media (max-width: 992px) {
          width: calc(50% - 30px);

        }

        @media (max-width: 568px) {
          width: calc(100% - 30px);

        }

        &:nth-child(2n) {
          background: $blue;

        }

        .top {
          padding: 25px 25px 0 25px;
          display: flex;

          color: $white;

          @media (max-width: 992px) {
            padding: 0;
            margin-bottom: 15px;
          }

          .left {
            width: 50%;
            display: flex;

            img {
              width: 56px;
              height: 56px;
            }

            .box {
              margin-left: 4px;
              margin-top: 7px;

              .social {

                .list {
                  list-style: none;
                  display: flex;
                  padding-left: 0;

                  margin-top: 4px;

                  .list-item {
                    list-style: none;

                    a {
                      height: 16px;
                      width: 16px;

                      margin-right: 8px;

                      display: flex;

                      background-size: contain;
                      background-repeat: no-repeat;

                      &.fb {
                        background-image: url("../img/fb.png");
                      }

                      &.inst {
                        background-image: url("../img/insta.png");

                      }
                    }
                  }

                }
              }
            }
          }

          .right {
            text-align: right;
            width: 50%;
            margin-top: 7px;

          }
        }

        .bottom {
          padding: 25px;

          p {
            color: $white;
          }

          &::-webkit-scrollbar {
            width: 2px;

            /* light grey */

            background: $light-grey;
            opacity: 0.6;
          }

          &::-webkit-scrollbar-thumb {
            width: 4px;


            /* light grey */

            background: $light-grey;
            border-radius: 2px;
          }

          @media (max-width: 992px) {
            padding: 0;
            max-height: 200px;
            overflow: auto;

            padding-right: 20px;
          }
        }
      }

      .bottom {
        padding: 25px;
      }
    }

  }
}

.third-screen {
  background: $blue;
  border-radius: 60px;
  padding: 80px 15px;

  @media (max-width: 992px) {
    border-radius: 20px;

    padding: 60px 15px;
  }

  @media (max-width: 768px) {
    padding: 30px 15px;
  }

  .container {
    background: $white;
    border-radius: 60px;
    text-align: center;
    position: relative;

    display: flex;
    justify-content: center;

    @media (max-width: 992px) {
      border-radius: 20px;
    }

    .content {
      width: 792px;
      padding: 64px 0;

      @media (max-width: 992px) {
        width: 680px;
      }
      @media (max-width: 768px) {
        width: 100%;
        padding: 30px 15px;
      }

      h3 {
        padding: 0 0 16px 0;
      }

      p {
        margin: 0 auto 46px;
        font-size: 20px;
        text-align: center;

        @media (max-width: 768px) {
          margin: 0 auto 20px;
          font-size: 14px;
        }
      }


      .box-form {
        form {
          display: flex;
          flex-wrap: wrap;
        }

        .left {
          width: 50%;
          padding-right: 12px;

          @media (max-width: 768px) {
            width: 100%;
            padding-right: 0;
          }

          input:not(input[type=file]):not(input[type=checkbox]) {
            background: #ffffff;
            box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
            border-radius: 30px;
            border: none;
            padding: 18px 30px;
            width: 100%;
            margin-bottom: 32px;
            font-size: 14px;

            @media (max-width: 768px) {
              margin-bottom: 20px;
            }
          }

          input[type=file] {
            margin-bottom: 32px;

            @media (max-width: 768px) {
              margin-bottom: 20px;
            }
          }

          & > span {
            width: 100%;
            display: flex;
          }

          br {
            display: none;
          }
        }

        .right {
          width: 50%;
          padding-left: 12px;

          @media (max-width: 768px) {
            width: 100%;
            padding-left: 0;
          }

          textarea {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 20px;
            background: #ffffff;
            box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
            padding: 16px 0 0 24px;
            font-size: 14px;
            @media (max-width: 768px) {
              margin-bottom: 20px;
            }
          }
        }

        .center {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;


          label {
            width: 100%;
            position: relative;
            display: flex;

            input {
              position: absolute;
              visibility: hidden;
            }

            input[type="checkbox"]:checked:after,
            input[type="checkbox"]:after {
              visibility: visible;
              font-family: FontAwesome;
              display: inline-block;
              color: $orange;

              &:disabled {
                cursor: not-allowed;
                opacity: 0.65;
              }
            }

            input[type="checkbox"]:checked:after {
              font-size: 25px;
              font-weight: bold;
              content: "+";

              position: relative;
              left: 5px;
              top: -2px;
              height: 25px;
            }

            span {
              display: flex;
              align-items: center;

              font-size: 12px;
              line-height: 140%;

              text-align: left;

              &:before,
              &:after {
                display: none;
              }
            }

            &:before {
              display: flex;

              border: 1px solid #4D6870;
              box-sizing: border-box;
              border-radius: 2px;

              width: 24px;
              height: 24px;

              content: '';

              margin-right: 5px;
            }
          }

          & > span {
            width: 100%;
            display: flex;
          }

          .btn {
            border: none;
          }
        }
      }
    }


  }
}