/*File for global stile*/
@import "variables";

*:not(.slick-track):not(.slick-list) {
  box-sizing: border-box;
  margin: 0;
  transition: all 0.5s;

  font-family: $font;

  outline: none;


  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $orange;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body:not(.slick-track):not(.slick-list) {
  overflow-x: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 992px;
  }

  @media (max-width: 992px) {
    width: 768px;
  }

  @media (max-width: 768px) {
    width: 568px;
  }

  @media (max-width: 568px) {
    width: 100%;
    padding: 0 15px;
  }
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

h1 {
  font-size: 40px;
  font-weight: 900;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 360px) {
    font-size: 19px;
  }
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 25px;
  }

  @media (max-width: 568px) {
    font-size: 22px;
  }

  @media (max-width: 370px) {
    font-size: 18px;
  }
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.btn {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: $white;

  padding: 22px 52px;

  border-radius: 35px;

  background: $orange;

  width: fit-content;

  display: flex;

  cursor: pointer;
}

/*Header*/
@media (max-width: 1199px) {
  .container {
    padding: 0 15px;
  }
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;

  @media (max-width: 568px) {
    height: 80px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      cursor: pointer;
      justify-content: flex-start;

      a {
        display: flex;

        img {
          width: 145px;
          height: auto;
          max-height: 85px;
          @media (max-width: 992px) {
            width: 115px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .menu-collapsed {
        nav {
          display: block;
        }
      }

      nav {

        @media (max-width: 768px) {
          display: none;
        }
      }

      a.phone {
        text-decoration: none;
        color: $black;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 56px;
        @media (max-width: 1199px) {
          margin-left: 25px;
        }
        @media (max-width: 992px) {
          font-size: 14px;
          margin-left: 15px;
        }

        &:before {
          font-family: fontawesome;
          font-size: 16px;
          margin-right: 5px;
          @media (max-width: 992px) {
            font-size: 13px;
          }
        }

        &:hover {
          color: $blue;
        }
      }

      ul {
        display: flex;
        list-style: none;
        @media (max-width: 992px) {
          padding-left: 0;
        }

        li {
          display: flex;
          margin-left: 56px;
          align-items: center;

          &:first-of-type {
            margin-left: 0;
          }

          @media (max-width: 1199px) {
            margin-left: 25px;

          }
          @media (max-width: 992px) {
            margin-left: 15px;
          }

          a {
            text-decoration: none;
            color: $black;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              color: $blue;
            }

            @media (max-width: 992px) {
              font-size: 14px;
            }
          }
        }
      }

      .burger-menu {
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
          display: flex;
        }

        .burger-menu_button {
          z-index: 20;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;

          height: 25px;
          width: 27px;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &:hover {
            .burger-menu_lines {
              -webkit-filter: brightness(0.7);
              filter: brightness(0.7);
            }
          }

          .burger-menu_lines {
            width: 100%;
            height: 2px;
            background-color: #000;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;

            content: '';
            display: block;

            position: relative;
          }

        }

        ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-direction: column;

          li {
            padding: 5px 35px;
            margin-left: 0;
          }

          a {
            text-decoration: none;
            letter-spacing: 5px;
            font-size: 15px;
            color: #1a2129;
            border-bottom: 1px solid #1a2129;
          }
        }
      }

      .burger-menu_active {
        .burger-menu_button {
          justify-content: center;

          .burger-menu_lines {

            &:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(1) {
              background-color: transparent;
            }

            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
              bottom: 2px;
            }
          }
        }
      }

      .burger-menu_nav {
        padding-top: 30px;
        position: fixed;
        top: 0;
        z-index: 20;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        height: 100%;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
        left: -108%;
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
      }

      .burger-menu_active .burger-menu_nav {
        left: 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }

      .burger-menu_link:first-child {
        border-top: 1px solid #ff6613;
      }

      .burger-menu_link:hover {
        -webkit-filter: brightness(0.9);
        filter: brightness(0.9);
      }

      .burger-menu_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
      }

      .burger-menu_active .burger-menu_overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/*Hamburger*/
.b-a {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: black;
}

.menu-collapsed {
  display: none;
  transition: all .25s;
  position: absolute;
  top: 25px;
  right: 15px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 360px) {
    top: 18px;
  }

  ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}

.bar {
  @extend .b-a;
  //position: fixed;
  //left: 12px;
  top: 24px;

  &:before {
    @extend .b-a;
    top: -8px;
  }

  &:after {
    @extend .b-a;
    top: 8px;
  }
}

.b-a-expanded {
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);

  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    list-style: none;

  }

  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #fff;
    display: block;

    &:hover {
      background-color: rgba(white, .8);
      transition: all .15s;
      letter-spacing: 2px;
      color: #333;
      border: 1px solid rgba(255, 255, 255, .15);
    }
  }

  .bar {
    left: 15px;
    background-color: transparent;
    transition: all .25s;

    &:before {
      @extend .b-a-expanded;
      transform: rotate(45deg);
      background-color: white;
    }

    &:after {
      @extend .b-a-expanded;
      transform: rotate(-45deg);
      background-color: white;
    }
  }
}

/*Footer*/
footer {
  background: $dark-white;
  display: flex;
  justify-content: center;
  padding: 60px 0;

  @media (max-width: 992px) {
    padding: 32px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 568px) {
      flex-direction: column;
    }


    .logo {
      @media (max-width: 768px) {
        margin-right: 50px;
      }

      @media (max-width: 568px) {
        display: none;
      }

      img {
        width: 145px;
        height: auto;
      }
    }

    p {
      color: $black;
      text-align: center;
      font-weight: 500;
      font-size: 18px;

      @media (max-width: 568px) {
        font-size: 16px;

      }
    }

    .social {

      .list {
        display: flex;

        @media (max-width: 568px) {
          padding-left: 0;
          padding-top: 16px;
        }

        .list-item {
          list-style: none;
          margin-left: 25px;

          &:first-child {
            margin-left: 0;
          }

          a {
            width: 24px;
            height: 24px;
            display: flex;

            &.fb {

              &:before {
                content: url("../img/fb-black.png");
              }
            }

            &.inst {
              &:before {
                content: url("../img/insta-black.png");
              }
            }
          }
        }
      }
    }
  }
}

.lesson {
  padding-top: 67px;
  padding-bottom: 120px;

  @media (max-width: 992px) {
    padding-top: 40px;
    padding-bottom: 60px
  }

  .container {

    font-size: 30px;
    position: relative;


    .top {
      max-width: 792px;
      margin: 0 auto;

      h3 {
        padding: 0 0 16px;

        @media (max-width: 768px) {
          padding: 0 0 16px;
        }
      }

      p {
        font-size: 20px;
        text-align: center;
        padding-bottom: 40px;

        @media (max-width: 768px) {
          font-size: 18px;
        }

        @media (max-width: 568px) {
          font-size: 14px;
          margin: 0 43px;
          text-align: left;
        }
      }
    }

  }
}


/*Review  screen*/
.review-screen {
  padding-top: 120px;
  padding-bottom: 115px;

  @media (max-width: 992px) {
    padding: 80px 0;
  }

  @media (max-width: 568px) {
    padding: 40px 0;
  }

  .container {

    h3 {
      padding: 0 0 40px 0;

      @media (max-width: 568px) {
        padding: 0 0 20px 0;
      }
    }

    .content {
      display: flex;
      margin-bottom: 60px;
      color: $white;
      width: calc(100% + 30px);
      margin-left: -15px;
      justify-content: center;

      .slick-track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      .item {
        width: calc(100% / 3);
        margin: 0 15px;
        border-radius: 20px;
        padding: 15px;
        height: auto;
        background: $light-blue;

        &:nth-child(2n) {
          background: $blue;

        }

        .top {
          padding: 25px 25px 0 25px;
          display: flex;

          @media (max-width: 992px) {
            padding: 0;
            margin-bottom: 15px;
          }

          .left {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
              width: 56px;
              height: 56px;
              border-radius: 50%;
              margin-right: 10px;
            }

            .box {
              margin-left: 4px;
              margin-top: 7px;

              .social {

                .list {
                  list-style: none;
                  display: flex;
                  padding-left: 0;

                  margin-top: 4px;

                  .list-item {
                    list-style: none;

                    a {
                      height: 16px;
                      width: 16px;

                      margin-right: 8px;

                      display: flex;

                      background-size: contain;
                      background-repeat: no-repeat;

                      &.fb {
                        background-image: url("../img/fb.png");
                      }

                      &.inst {
                        background-image: url("../img/insta.png");

                      }
                    }
                  }

                }
              }
            }
          }

          .right {
            text-align: right;
            width: 50%;
            margin-top: 7px;

          }
        }

        .bottom {
          padding: 25px;


          &::-webkit-scrollbar {
            width: 2px;

            /* light grey */

            background: $light-grey;
            opacity: 0.6;
          }

          &::-webkit-scrollbar-thumb {
            width: 4px;


            /* light grey */

            background: $light-grey;
            border-radius: 2px;
          }

          @media (max-width: 992px) {
            padding: 0;
            height: 200px;
            overflow: auto;

            padding-right: 20px;
          }
        }
      }

      .col1 {
        position: relative;

        &::before {
          content: url("../img/hand.png");
          position: absolute;
          bottom: -30px;
          right: 20px;
        }
      }

    }
  }

  .btns-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //padding-bottom: 115px;

    & > div {
      width: 33.333333%;

      display: flex;
      justify-content: center;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .show-all {
      justify-content: flex-end;

      @media (max-width: 768px) {
        justify-content: center;
        margin-top: 20px;
      }
    }

    .btn {
      font-weight: normal;
      font-size: 16px;
    }

    .btn-trn {
      background: none;
      color: $secondary;
      position: relative;

      display: flex;
      align-items: center;

      padding: 0;

      &::after {
        content: url("../img/arrow_1.png");
        margin-left: 15px;
      }
    }

  }
}


/*About screen*/
.about-screen {
  padding: 120px 0;

  @media (max-width: 992px) {
    padding: 80px 0;
  }

  @media (max-width: 568px) {
    padding: 50px 0;
  }


  .container {

    h3 {
      margin: 0 0 40px 0;
      text-align: center;

      @media (max-width: 992px) {
        margin: 0 0 20px 0;
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;

      .left {
        width: 384px;

        @media (max-width: 992px) {
          width: 100%;
          margin-bottom: 20px;

          display: flex;
          justify-content: center;
        }

        img {
          width: 100%;
          height: auto;

          border-radius: 15px;

          @media (max-width: 992px) {
            max-width: 450px;
          }
        }
      }

      .right {
        width: calc(100% - 384px);
        padding-left: 24px;
        font-size: 14px;

        @media (max-width: 992px) {
          width: 100%;
          padding-left: 0;
        }

        p {
          @media (max-width: 468px) {
            font-size: 14px;
            padding: 0 24px 0 0;
          }
        }


        h3,
        h4,
        h5,
        h6 {
          margin-top: 24px;
          margin-bottom: 8px;
        }

        ul {
          column-count: 2;
          list-style: none;
          padding-left: 12px;
          padding-right: 12px;

          @media (max-width: 568px) {
            column-count: 1;
          }

          li {
            position: relative;
            margin-bottom: 8px;

            &::before {
              position: absolute;
              content: url("../img/square.png");
              left: -13px;

            }
          }
        }

      }
    }
  }
}


/*Target screen*/
.target-screen {
  background: $blue;

  padding: 80px 0;

  border-radius: 60px;

  @media (max-width: 992px) {
    border-radius: 20px;
  }

  @media (max-width: 568px) {
    padding: 60px 15px;
  }

  .container {
    background: $white;
    border-radius: 50px;

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);

    text-align: center;

    display: flex;
    justify-content: center;

    @media (max-width: 992px) {
      border-radius: 20px;
    }

    .content {
      width: 792px;
      padding-top: 64px;
      padding-bottom: 72px;

      @media (max-width: 992px) {
        width: calc(100% - 30px);

        padding: 30px 0;
      }

      h3 {
        margin: 0 0 16px 0;

        text-align: center;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        margin: 0 0 20px 0;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: 568px) {
          font-weight: normal;
          font-size: 14px;
          text-align: left;
          margin-bottom: 0;
        }
      }

      img,
      video {
        width: 100%;
        height: auto;

        margin-top: 36px;

        @media (max-width: 568px) {
          margin-top: 20px;
        }
      }
    }
  }
}


/*Form screen*/
.form-screen {
  background: $blue;
  border-radius: 60px;

  padding: 80px 15px;

  @media (max-width: 992px) {
    border-radius: 20px;

    padding: 60px 15px;

  }

  .container {
    background: $white;

    border-radius: 60px;


    text-align: center;

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 992px) {
      border-radius: 20px;
    }

    &::before {
      //content: '';
      content: url(../img/robot_3.png);
      //background-size: cover;

      position: absolute;
      left: 10px;
      bottom: 0;

      z-index: 0;

      @media (max-width: 1100px) {
        left: -75px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .top {
      max-width: 792px;
      z-index: 1;

      h3 {
        margin: 64px 0 16px 0;

        @media (max-width: 568px) {
          margin: 24px 0 16px 0;
        }
      }

      p {
        font-weight: 400;
        font-size: 20px;

        @media (max-width: 992px) {
          margin: 0 16px 32px 16px;
        }

        @media (max-width: 768px) {
          font-size: 16px;
          margin: 0 24px 24px;
        }

        @media (max-width: 360px) {
          text-align: left;
          font-size: 14px;
        }
      }
    }


    .center {
      margin-top: 40px;
      max-width: 792px;
      width: 100%;
      z-index: 2;

      @media (max-width: 768px) {
        margin-top: 0;
      }

      p {
        display: flex;

        @media (max-width: 1100px) {
          flex-direction: column;
          align-items: center;
        }
      }

      input {
        background: $white;

        box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        border: none;

        width: 282px;
        height: 54px;

        margin-right: 24px;

        display: flex;
        align-items: center;

        padding: 0 24px;

        @media (max-width: 1100px) {
          margin-right: 0;
        }
      }

      .btn {
        background: $orange;
        border-radius: 35px;

        //width: 180px;
        height: 54px;

        font-size: 16px;
        font-weight: normal;
        //margin-left: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 0;

        padding: 0 46px;
        border: none;
      }
    }

    .bottom {
      max-width: 792px;
      padding-bottom: 64px;

      z-index: 3;

      @media (max-width: 768px) {
        padding-bottom: 32px;
      }

      .contact {
        padding-top: 40px;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: normal;

        @media (max-width: 768px) {
          padding-top: 0;
        }
      }
    }
  }


  .button {
    .btn {

      background: $orange;
      border-radius: 35px;
      padding: 24px 35px;
      color: $white;
    }

    a {
      text-decoration: none;
      color: $secondary;


    }
  }
}


.wpcf7-response-output,
.wpcf7-not-valid-tip {
  display: none !important;
}

.wpcf7-not-valid {
  border: 1px solid red !important;
}

/*Modal*/
.modal {
  max-width: 500px;
  width: fit-content;
  z-index: 99999999999;

  h4 {
    font-size: 26px;

    margin-top: 40px;
  }

  p {
    max-width: 282px;
  }

  form {
    margin-top: 20px !important;

    input:not(input[type=file]):not(.btn) {
      background: $white;

      box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
      border-radius: 30px;
      border: none;

      width: 282px;
      height: 54px;


      display: flex;
      align-items: center;

      padding: 0 24px;

      @media (max-width: 1100px) {
        margin-right: 0;
      }

      @media (max-width: 568px) {
        width: 100%;
      }
    }

    input[type=file] {
      margin-bottom: 20px;
    }

    textarea {
      background: $white;

      box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
      border-radius: 30px;
      border: none;

      width: 282px;
      height: 108px;

      margin-right: 24px;

      display: flex;

      padding: 15px 24px;

      @media (max-width: 1100px) {
        margin-right: 0;
      }
    }

    .btn,
    input[type=submit] {
      background: $orange;
      border-radius: 35px;

      //width: 180px;
      height: 54px;

      font-size: 16px;
      font-weight: normal;
      //margin-left: 24px;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 0;

      padding: 0 46px;

      width: 282px;

      border: none;

      @media (max-width: 568px) {
        width: 100%;
      }
    }
  }
}

/* onsubmit modal */
.tnx-modal {
  display: none;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 342px;
  margin: 0 15px;

  .form-box {
    .btn {
      margin-top: 20px;
    }
  }
}

.jquery-modal {
  z-index: 999999999;
}

/*Slider*/
.slick-list {
  padding: 20px 0;
  margin: -20px 0;
}

/*Cards slider*/
.cards-slider {
  width: calc(100% + 30px);
  margin-left: -15px !important;

  .slide-box {
    display: flex;
    justify-content: center;

    &:nth-child(2n) {
      .card {
        .title {
          background: $blue;
        }
      }

    }
  }

  .card {
    display: flex;

    width: 100%;
    height: 210px;

    margin: 0 15px;

    background: white;
    border-radius: 15px;

    text-decoration: none;

    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2);


    @media (max-width: 568px) {
      width: 384px;
    }

    .title {
      background: $light-blue;
      border-radius: 15px 0 0 15px;

      width: 55px;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        transform: rotateZ(-90deg);

        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-transform: uppercase;

        /* white */

        color: $white;

        white-space: nowrap;

      }
    }

    .content {
      .card-top {
        display: flex;

        .left {
          width: 75%;
          font-size: 16px;
          color: black;
          padding: 24px 0 16px 24px;

          @media (max-width: 1200px) {
            width: 60%;
            padding: 24px 0 16px 18px;
          }

          @media (max-width: 992px) {
            width: 65%;
          }

          h6 {
            @media (max-width: 1200px) {
              font-size: 12px;
            }
          }
        }

        .right {
          //width: 45%;
          display: flex;
          justify-content: flex-end;

          @media (max-width: 1200px) {
          }

          p {
            font-size: 14px;
            color: $secondary;
            text-align: right;
            padding: 24px 16px;
          }
        }
      }

      .card-bottom {
        margin: 0 16px 16px 16px;

        img {
          width: 100%;
          height: 120px;

          object-fit: cover;
        }
      }
    }


  }
}

@media (max-width: 768px) {
  .admin-bar header .container .right .burger-menu ul {
    padding-top: 40px;
  }
  header .container .right a.phone {
    margin-right: 30px;
  }
  .fifth-screen .container .box .box-bottom .right .info ul {
    margin-bottom: 30px;
  }
}

.wpcf7dtx-dynamictext {
  display: none !important;
}