/*File for global stile*/
*:not(.slick-track):not(.slick-list) {
	box-sizing: border-box;
	margin: 0;
	transition: all 0.5s;
	font-family: "Cera Pro";
	outline: none;
}

*:not(.slick-track):not(.slick-list)::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

*:not(.slick-track):not(.slick-list)::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

*:not(.slick-track):not(.slick-list)::-webkit-scrollbar-thumb {
	background-color: #FF6B00;
}

html,
body {
	padding: 0;
	margin: 0;
}

body:not(.slick-track):not(.slick-list) {
	overflow-x: hidden;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.container {
		width: 992px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 568px;
	}
}

@media (max-width: 568px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
}

section {
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

h1 {
	font-size: 40px;
	font-weight: 900;
}

@media (max-width: 768px) {
	h1 {
		font-size: 30px;
	}
}

@media (max-width: 360px) {
	h1 {
		font-size: 19px;
	}
}

h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	font-weight: 700;
}

@media (max-width: 768px) {
	h3 {
		font-size: 30px;
	}
}

@media (max-width: 768px) {
	h3 {
		font-size: 25px;
	}
}

@media (max-width: 568px) {
	h3 {
		font-size: 22px;
	}
}

@media (max-width: 370px) {
	h3 {
		font-size: 18px;
	}
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

@media (max-width: 768px) {
	p {
		font-size: 12px;
	}
}

.btn {
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	padding: 22px 52px;
	border-radius: 35px;
	background: #FF6B00;
	width: fit-content;
	display: flex;
	cursor: pointer;
}

/*Header*/
header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
}

@media (max-width: 568px) {
	header {
		height: 80px;
	}
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .container .left {
	cursor: pointer;
	justify-content: flex-start;
}

header .container .left a {
	display: flex;
}

header .container .left a img {
	width: 145px;
	height: auto;
	max-height: 85px;
}
@media (max-width: 992px) {
	header .container .left a img {
		width: 115px !important;
	}
}
header .container .right {
	display: flex;
	align-items: center;
}

header .container .right .menu-collapsed nav {
	display: block;
}

@media (max-width: 768px) {
	header .container .right nav {
		display: none;
	}
}

header .container .right ul {
	display: flex;
	list-style: none;
}

header .container .right ul li {
	display: flex;
	margin-left: 56px;
	align-items: center;
}

@media (max-width: 992px) {
	
	header .container .right ul li {
		margin-left: 45px;
	}
}
header .container .right a.phone{
	margin-left: 56px;
	
}

header .container .right a.phone:before{
	font-family: fontawesome;
	font-size: 16px;
	margin-right: 5px;
}
header .container .right a.phone,
header .container .right ul li a {
	text-decoration: none;
	color: #081B21;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
header .container .right ul li:first-of-type{
	margin-left: 0;
}
header .container .right a.phone:hover,
header .container .right ul li a:hover {
	color: #2990AF;
}

@media (max-width: 1199px) {
	.container{
		padding: 0 12px;
	}
	header .container .right ul li,
	header .container .right a.phone{
		margin-left: 25px !important;
	}
}
@media (max-width: 992px) {
	header .container .right a.phone:before{
		font-size: 13px ;
	}
	header .container .right a.phone,
	header .container .right ul li a {
		font-size: 16px;
	}
	header .container .right ul li,
	header .container .right a.phone{
		margin-left: 15px !important;
		font-size: 14px;
	}
	header .container .right ul{
		padding-left: 0;
	}
}

header .container .right .burger-menu {
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	header .container .right .burger-menu {
		display: flex;
	}
	.admin-bar header .container .right .burger-menu ul{
		padding-top: 40px;
	}
	header .container .right a.phone{
		margin-right: 30px;
		font-size: 18px;
	}
	.fifth-screen .container .box .box-bottom .right .info ul{
		margin-bottom: 30px;
	}
}
@media (max-width: 419px) {
	header .container .right a.phone{
		margin-right: 15px;
		font-size: 14px;
	}
}
@media (max-width: 359px) {
	header .container .left a img {
		width: 80px !important;
	}
	.fifth-screen .container .box .box-bottom {
		margin: 30px 0 0 !important;
	}
}
header .container .right .burger-menu .burger-menu_button {
	z-index: 20;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	height: 25px;
	width: 27px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header .container .right .burger-menu .burger-menu_button:hover .burger-menu_lines {
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}

header .container .right .burger-menu .burger-menu_button .burger-menu_lines {
	width: 100%;
	height: 2px;
	background-color: #000;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	content: "";
	display: block;
	position: relative;
}

header .container .right .burger-menu ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

header .container .right .burger-menu ul li {
	padding: 5px 35px;
	margin-left: 0;
}

header .container .right .burger-menu ul a {
	text-decoration: none;
	letter-spacing: 5px;
	font-size: 15px;
	color: #1a2129;
	border-bottom: 1px solid #1a2129;
}

header .container .right .burger-menu_active .burger-menu_button {
	justify-content: center;
}

header .container .right .burger-menu_active .burger-menu_button .burger-menu_lines:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

header .container .right .burger-menu_active .burger-menu_button .burger-menu_lines:nth-child(1) {
	background-color: transparent;
}

header .container .right .burger-menu_active .burger-menu_button .burger-menu_lines:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 2px;
}

header .container .right .burger-menu_nav {
	padding-top: 30px;
	position: fixed;
	top: 0;
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	height: 100%;
	background-color: white;
	overflow-y: auto;
	left: -108%;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

header .container .right .burger-menu_active .burger-menu_nav {
	left: 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

header .container .right .burger-menu_link:first-child {
	border-top: 1px solid #ff6613;
}

header .container .right .burger-menu_link:hover {
	-webkit-filter: brightness(0.9);
	filter: brightness(0.9);
}

header .container .right .burger-menu_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

header .container .right .burger-menu_active .burger-menu_overlay {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}

/*Hamburger*/
.b-a,
.bar:after,
.bar:before,
.bar {
	transition: all 0.25s;
	content: "";
	position: absolute;
	left: 0;
	height: 6px;
	width: 30px;
	border-radius: 15px;
	background-color: black;
}

.menu-collapsed {
	display: none;
	transition: all 0.25s;
	position: absolute;
	top: 25px;
	right: 15px;
	height: 36px;
	width: 36px;
	z-index: 1;
	cursor: pointer;
}

@media (max-width: 768px) {
	.menu-collapsed {
		display: block;
	}
}

@media (max-width: 360px) {
	.menu-collapsed {
		top: 18px;
	}
}

.menu-collapsed ul {
	transition: all 0s;
	position: fixed;
	left: -9000px;
}

.bar {
	top: 24px;
}

.bar:before {
	top: -8px;
}

.bar:after {
	top: 8px;
}

.b-a-expanded,
.menu-expanded .bar:after,
.menu-expanded .bar:before {
	transition: all 0.25s;
	top: 0px;
}

.menu-expanded {
	transition: all 0.25s;
	text-align: center;
	line-height: 200px;
	height: 100%;
	width: 100%;
	border-radius: 0;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded ul {
	transition: all 0s;
	position: relative;
	left: 0;
	z-index: 2;
	list-style: none;
}

.menu-expanded a {
	transition: all 0.15s;
	text-decoration: none;
	font-size: 2em;
	padding: 5px;
	color: #fff;
	display: block;
}

.menu-expanded a:hover {
	background-color: rgba(255, 255, 255, 0.8);
	transition: all 0.15s;
	letter-spacing: 2px;
	color: #333;
	border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-expanded .bar {
	left: 15px;
	background-color: transparent;
	transition: all 0.25s;
}

.menu-expanded .bar:before {
	transform: rotate(45deg);
	background-color: white;
}

.menu-expanded .bar:after {
	transform: rotate(-45deg);
	background-color: white;
}

/*Footer*/
footer {
	background: #ECECEC;
	display: flex;
	justify-content: center;
	padding: 60px 0;
}

@media (max-width: 992px) {
	footer {
		padding: 32px 0;
	}
}

footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 568px) {
	footer .container {
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	footer .container .logo {
		margin-right: 50px;
	}
}

@media (max-width: 568px) {
	footer .container .logo {
		display: none;
	}
}

footer .container .logo img {
	width: 145px;
	height: auto;
}

footer .container p {
	color: #081B21;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
}

@media (max-width: 568px) {
	footer .container p {
		font-size: 16px;
	}
}

footer .container .social .list {
	display: flex;
}

@media (max-width: 568px) {
	footer .container .social .list {
		padding-left: 0;
		padding-top: 16px;
	}
}

footer .container .social .list .list-item {
	list-style: none;
	margin-left: 25px;
}

footer .container .social .list .list-item:first-child {
	margin-left: 0;
}

footer .container .social .list .list-item a {
	width: 24px;
	height: 24px;
	display: flex;
}

footer .container .social .list .list-item a.fb:before {
	content: url("../img/fb-black.png");
}

footer .container .social .list .list-item a.inst:before {
	content: url("../img/insta-black.png");
}

.lesson {
	padding-top: 67px;
	padding-bottom: 120px;
}

@media (max-width: 992px) {
	.lesson {
		padding-top: 40px;
		padding-bottom: 60px;
	}
}

.lesson .container {
	font-size: 30px;
	position: relative;
}

.lesson .container .top {
	max-width: 792px;
	margin: 0 auto;
}

.lesson .container .top h3 {
	padding: 0 0 16px;
}

@media (max-width: 768px) {
	.lesson .container .top h3 {
		padding: 0 0 16px;
	}
}

.lesson .container .top p {
	font-size: 20px;
	text-align: center;
	padding-bottom: 40px;
}

@media (max-width: 768px) {
	.lesson .container .top p {
		font-size: 18px;
	}
}

@media (max-width: 568px) {
	.lesson .container .top p {
		font-size: 14px;
		margin: 0 43px;
		text-align: left;
	}
}

/*Review  screen*/
.review-screen {
	padding-top: 120px;
	padding-bottom: 115px;
}

@media (max-width: 992px) {
	.review-screen {
		padding: 80px 0;
	}
}

@media (max-width: 568px) {
	.review-screen {
		padding: 40px 0;
	}
}

.review-screen .container h3 {
	padding: 0 0 40px 0;
}

@media (max-width: 568px) {
	.review-screen .container h3 {
		padding: 0 0 20px 0;
	}
}

.review-screen .container .content {
	display: flex;
	margin-bottom: 60px;
	color: #ffffff;
	width: calc(100% + 30px);
	margin-left: -15px;
	justify-content: center;
}

.review-screen .container .content .item {
	width: calc(100% / 3);
	margin: 0 15px;
	border-radius: 20px;
	padding: 15px;
	background: #2EC1CE;
	height: auto;
}
.review-screen .container .content .slick-track{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.review-screen .container .content .item:nth-child(2n) {
	background: #2990AF;
}

.review-screen .container .content .item .top {
	padding: 25px 25px 0 25px;
	display: flex;
}

@media (max-width: 992px) {
	.review-screen .container .content .item .top {
		padding: 0;
		margin-bottom: 15px;
	}
}

.review-screen .container .content .item .top .left {
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.review-screen .container .content .item .top .left img {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	margin-right: 10px;
}

.review-screen .container .content .item .top .left .box {
	margin-left: 4px;
	margin-top: 7px;
}

.review-screen .container .content .item .top .left .box .social .list {
	list-style: none;
	display: flex;
	padding-left: 0;
	margin-top: 4px;
}

.review-screen .container .content .item .top .left .box .social .list .list-item {
	list-style: none;
}

.review-screen .container .content .item .top .left .box .social .list .list-item a {
	height: 16px;
	width: 16px;
	margin-right: 8px;
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
}

.review-screen .container .content .item .top .left .box .social .list .list-item a.fb {
	background-image: url("../img/fb.png");
}

.review-screen .container .content .item .top .left .box .social .list .list-item a.inst {
	background-image: url("../img/insta.png");
}

.review-screen .container .content .item .top .right {
	text-align: right;
	width: 50%;
	margin-top: 7px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.review-screen .container .content .item .bottom {
	padding: 25px;
}

.review-screen .container .content .item .bottom::-webkit-scrollbar {
	width: 2px;
	/* light grey */
	background: #E3F4FF;
	opacity: 0.6;
}

.review-screen .container .content .item .bottom::-webkit-scrollbar-thumb {
	width: 4px;
	/* light grey */
	background: #E3F4FF;
	border-radius: 2px;
}

@media (max-width: 992px) {
	.review-screen .container .content .item .bottom {
		padding: 0;
		height: 200px;
		overflow: auto;
		padding-right: 20px;
	}
}

.review-screen .container .content .col1 {
	position: relative;
}

.review-screen .container .content .col1::before {
	content: url("../img/hand.png");
	position: absolute;
	bottom: -30px;
	right: 20px;
}

.review-screen .btns-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.review-screen .btns-row > div {
	width: 33.333333%;
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.review-screen .btns-row > div {
		width: 100%;
	}
}

.review-screen .btns-row .show-all {
	justify-content: flex-end;
}

@media (max-width: 768px) {
	.review-screen .btns-row .show-all {
		justify-content: center;
		margin-top: 20px;
	}
}

.review-screen .btns-row .btn {
	font-weight: normal;
	font-size: 16px;
}

.review-screen .btns-row .btn-trn {
	background: none;
	color: #4D6870;
	position: relative;
	display: flex;
	align-items: center;
	padding: 0;
}

.review-screen .btns-row .btn-trn::after {
	content: url("../img/arrow_1.png");
	margin-left: 15px;
}

/*About screen*/
.about-screen {
	padding: 120px 0;
}

@media (max-width: 992px) {
	.about-screen {
		padding: 80px 0;
	}
}

@media (max-width: 568px) {
	.about-screen {
		padding: 50px 0;
	}
}

.about-screen .container h3 {
	margin: 0 0 40px 0;
	text-align: center;
}

@media (max-width: 992px) {
	.about-screen .container h3 {
		margin: 0 0 20px 0;
	}
}

.about-screen .container .content {
	display: flex;
	flex-wrap: wrap;
}

.about-screen .container .content .left {
	width: 384px;
}

@media (max-width: 992px) {
	.about-screen .container .content .left {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}
}

.about-screen .container .content .left img {
	width: 100%;
	height: auto;
	border-radius: 15px;
}

@media (max-width: 992px) {
	.about-screen .container .content .left img {
		max-width: 450px;
	}
}

.about-screen .container .content .right {
	width: calc(100% - 384px);
	padding-left: 24px;
	font-size: 14px;
}

@media (max-width: 992px) {
	.about-screen .container .content .right {
		width: 100%;
		padding-left: 0;
	}
}

@media (max-width: 468px) {
	.about-screen .container .content .right p {
		font-size: 14px;
		padding: 0 24px 0 0;
	}
}

.about-screen .container .content .right h3,
.about-screen .container .content .right h4,
.about-screen .container .content .right h5,
.about-screen .container .content .right h6 {
	margin-top: 24px;
	margin-bottom: 8px;
}

.about-screen .container .content .right ul {
	column-count: 2;
	list-style: none;
	padding-left: 12px;
	padding-right: 12px;
}

@media (max-width: 568px) {
	.about-screen .container .content .right ul {
		column-count: 1;
	}
}

.about-screen .container .content .right ul li {
	position: relative;
	margin-bottom: 8px;
}

.about-screen .container .content .right ul li::before {
	position: absolute;
	content: url("../img/square.png");
	left: -13px;
}

/*Target screen*/
.target-screen {
	background: #2990AF;
	padding: 80px 0;
	border-radius: 60px;
}

@media (max-width: 992px) {
	.target-screen {
		border-radius: 20px;
	}
}

@media (max-width: 568px) {
	.target-screen {
		padding: 60px 15px;
	}
}

.target-screen .container {
	background: #ffffff;
	border-radius: 50px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
	text-align: center;
	display: flex;
	justify-content: center;
}

@media (max-width: 992px) {
	.target-screen .container {
		border-radius: 20px;
	}
}

.target-screen .container .content {
	width: 792px;
	padding-top: 64px;
	padding-bottom: 72px;
}

@media (max-width: 992px) {
	.target-screen .container .content {
		width: calc(100% - 30px);
		padding: 30px 0;
	}
}

.target-screen .container .content h3 {
	margin: 0 0 16px 0;
	text-align: center;
}

.target-screen .container .content p {
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 20px 0;
}

.target-screen .container .content p:last-child {
	margin-bottom: 0;
}

@media (max-width: 568px) {
	.target-screen .container .content p {
		font-weight: normal;
		font-size: 14px;
		text-align: left;
		margin-bottom: 0;
	}
}

.target-screen .container .content img,
.target-screen .container .content video {
	width: 100%;
	height: auto;
	margin-top: 36px;
}

@media (max-width: 568px) {

	.target-screen .container .content img,
	.target-screen .container .content video {
		margin-top: 20px;
	}
}

/*Form screen*/
.form-screen {
	background: #2990AF;
	border-radius: 60px;
	padding: 80px 15px;
}

@media (max-width: 992px) {
	.form-screen {
		border-radius: 20px;
		padding: 60px 15px;
	}
}

.form-screen .container {
	background: #ffffff;
	border-radius: 60px;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 992px) {
	.form-screen .container {
		border-radius: 20px;
	}
}

.form-screen .container::before {
	content: url(../img/robot_3.png);
	position: absolute;
	left: 10px;
	bottom: 0;
	z-index: 0;
}

@media (max-width: 1100px) {
	.form-screen .container::before {
		left: -75px;
	}
}

@media (max-width: 768px) {
	.form-screen .container::before {
		display: none;
	}
}

.form-screen .container .top {
	max-width: 792px;
	z-index: 1;
}

.form-screen .container .top h3 {
	margin: 64px 0 16px 0;
}

@media (max-width: 568px) {
	.form-screen .container .top h3 {
		margin: 24px 0 16px 0;
	}
}

.form-screen .container .top p {
	font-weight: 400;
	font-size: 20px;
}

@media (max-width: 992px) {
	.form-screen .container .top p {
		margin: 0 16px 32px 16px;
	}
}

@media (max-width: 768px) {
	.form-screen .container .top p {
		font-size: 16px;
		margin: 0 24px 24px;
	}
}

@media (max-width: 360px) {
	.form-screen .container .top p {
		text-align: left;
		font-size: 14px;
	}
}

.form-screen .container .center {
	margin-top: 40px;
	max-width: 792px;
	z-index: 2;
	width: 100%;
}
.form-screen .container .center form p{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.form-screen .container .center form p br{
	display: none;
}
.form-screen .container .center form .wpcf7-form-control-wrap{
	display: flex;
	flex-direction: column;
	margin-right: 22px;
}
.form-screen .container .center form .wpcf7-form-control-wrap input{
	margin-right: 0;
}
.form-screen .container .center form .wpcf7-spinner{
	display: none;
}
@media (max-width: 768px) {
	.form-screen .container .center {
		margin-top: 0;
	}
}

.form-screen .container .center p {
	display: flex;
}

@media (max-width: 1100px) {
	.form-screen .container .center p {
		flex-direction: column;
		align-items: center;
	}
}

.form-screen .container .center input {
	background: #ffffff;
	box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	border: none;
	width: 282px;
	height: 54px;
	margin-right: 24px;
	display: flex;
	align-items: center;
	padding: 0 24px;
}

@media (max-width: 1100px) {
	.form-screen .container .center input {
		margin-right: 0;
	}
}

.form-screen .container .center .btn {
	background: #FF6B00;
	border-radius: 35px;
	height: 54px;
	font-size: 16px;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0;
	padding: 0 46px;
	border: none;
}

.form-screen .container .bottom {
	max-width: 792px;
	padding-bottom: 64px;
	z-index: 3;
}

@media (max-width: 768px) {
	.form-screen .container .bottom {
		padding-bottom: 32px;
	}
}

.form-screen .container .bottom .contact {
	padding-top: 40px;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: normal;
}

@media (max-width: 768px) {
	.form-screen .container .bottom .contact {
		padding-top: 0;
	}
}

.form-screen .button .btn {
	background: #FF6B00;
	border-radius: 35px;
	padding: 24px 35px;
	color: #ffffff;
}

.form-screen .button a {
	text-decoration: none;
	color: #4D6870;
}

.wpcf7-response-output,
.wpcf7-not-valid-tip {
	display: none !important;
}

.wpcf7-not-valid {
	border: 1px solid red !important;
}

/*Modal*/
.modal {
	max-width: 500px;
	width: fit-content;
	z-index: 99999999999;
}

.modal h4 {
	font-size: 26px;
	margin-top: 40px;
}

.modal p {
	max-width: 282px;
}

.modal form {
	margin-top: 20px !important;
}

.modal form input:not(input[type=file]):not(.btn) {
	background: #ffffff;
	box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	border: none;
	width: 282px;
	height: 54px;
	display: flex;
	align-items: center;
	padding: 0 24px;
}

@media (max-width: 1100px) {
	.modal form input:not(input[type=file]):not(.btn) {
		margin-right: 0;
	}
}

@media (max-width: 568px) {
	.modal form input:not(input[type=file]):not(.btn) {
		width: 100%;
	}
}

.modal form input[type=file] {
	margin-bottom: 20px;
}

.modal form textarea {
	background: #ffffff;
	box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	border: none;
	width: 282px;
	height: 108px;
	margin-right: 24px;
	display: flex;
	padding: 15px 24px;
}

@media (max-width: 1100px) {
	.modal form textarea {
		margin-right: 0;
	}
}

.modal form .btn,
.modal form input[type=submit] {
	background: #FF6B00;
	border-radius: 35px;
	height: 54px;
	font-size: 16px;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0;
	padding: 0 46px;
	width: 282px;
	border: none;
}

@media (max-width: 568px) {

	.modal form .btn,
	.modal form input[type=submit] {
		width: 100%;
	}
}

/* onsubmit modal */
.tnx-modal {
	display: none;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	max-width: 342px;
	margin: 0 15px;
}

.tnx-modal .form-box .btn {
	margin-top: 20px;
}

.jquery-modal {
	z-index: 999999999;
}

/*Slider*/
.slick-list {
	padding: 20px 0;
	margin: -20px 0;
}

/*Cards slider*/
.cards-slider {
	width: calc(100% + 30px);
	margin-left: -15px !important;
}

.cards-slider .slide-box{
	width: calc(1230px / 3);
}

.cards-slider .content{
	width: calc(100% - 55px);
}
.cards-slider .slide-box:nth-child(2n) .card .title {
	background: #2990AF;
}
.cards-slider{
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px; 
}
.cards-slider .card {
	display: flex;
	width: 100%;
	height: 210px;
	margin: 0 15px;
	background: white;
	border-radius: 15px;
	text-decoration: none;
	box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 568px) {
	.cards-slider .card {
		width: 100% !important; 
	}
}

.cards-slider .card .title {
	background: #2EC1CE;
	border-radius: 15px 0 0 15px;
	width: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards-slider .card .title span {
	transform: rotateZ(-90deg);
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	/* identical to box height */
	display: flex;
	align-items: center;
	text-transform: uppercase;
	/* white */
	color: #ffffff;
	white-space: nowrap;
}

.cards-slider .card .content .card-top {
	display: flex;
}

.cards-slider .card .content .card-top .left {
	width: 75%;
	font-size: 16px;
	color: black;
	padding: 24px 0 16px 24px;
}
.fourth-screen .content .right ul li{
	margin-right: 20px !important;
}
.third-screen .container .content .box-form .right textarea{
	resize: none;
}
.first-screen .container .top{
	max-width: 572px !important;
}
@media (max-width: 1199px) {
	.cards-slider .card .content .card-top .left {
		width: 60%;
		padding: 24px 0 16px 18px;
	}
	.cards-slider .slide-box{
		width: calc(992px / 3);
	}
}

@media (max-width: 992px) {
	.cards-slider .card .content .card-top .left {
		width: 65%;
	}
	.form-screen .container .center form .wpcf7-form-control-wrap input{
		width: 100%;
	}
	.form-screen .container .center form .wpcf7-form-control-wrap{
		width: calc((100% - 229px)  / 2);
	}
	.cards-slider .slide-box{
		width: calc(768px / 2);
	}
}
@media (max-width: 768px) {
	.form-screen .container .center form .wpcf7-form-control-wrap{
		width: 100%;
		margin: 0 0 20px;
	}
	.form-screen .container .center form .btn{
		width: 100%;
		margin: 0 0 20px;
	}
	.sixth-screen .container .row{
		margin-right: 40px;
	}
	.third-screen {
		padding-bottom: 40px !important;
	}
	.fifth-screen {
		padding-top: 40px !important;
	}
	.fifth-screen .container .box {
		margin-top: 20px !important;
	}
	.sixth-screen .container h3 {
		margin: 30px 0 20px 0 !important;
	}
	.sixth-screen .container .row{
		margin-bottom: 40px !important;
	}
	.first-screen .container .top {
		padding: 70px 0 0 0 !important;
	}
	.first-screen .container .bottom {
		margin-top: 30px !important;
	}
	.review-screen .container h3{
		margin-bottom: 20px !important;
	}
	.fourth-screen .course .row .col {
		width: calc(100% - 30px) !important;
	}
	.fourth-screen .course .row{
		margin-bottom: 0 !important;
	}
	.fourth-screen .course .btns-row {
		margin: 20px 0 0px 0 !important;
	}
	.fourth-screen .course {
		margin-bottom: 50px !important;
	}
	.fourth-screen {
		padding: 50px 0 0 !important;
	}
	.feedbacks-page-main .first-screen{
		height: 230px !important; 
	}
	.cards-slider .slide-box{
		width: calc(568px / 2);
	}
}
@media (max-width: 568px) {
	.lesson .container .top p{
		margin: 0px !important;
	}
	.fourth-screen .content .right ul li{
		margin-right: 0px !important;
	}
	.cards-slider .slide-box{
		width: calc(568px / 2);
	}
}
@media (max-width: 468px) {
	.about-screen .right .text-block{
		max-height: 145px;
		overflow-y: auto;
		margin-bottom: 15px;
	}
}
@media (max-width: 1200px) {
	.cards-slider .card .content .card-top .left h6 {
		font-size: 12px;
	}
}

.cards-slider .card .content .card-top .right {
	display: flex;
	justify-content: flex-end;
}

.cards-slider .card .content .card-top .right p {
	font-size: 14px;
	color: #4D6870;
	text-align: right;
	padding: 24px 16px;
}

.cards-slider .card .content .card-bottom {
	margin: 0 16px 16px 16px;
}

.cards-slider .card .content .card-bottom img {
	width: 100%;
	height: 120px;
	object-fit: cover;
}

.wpcf7dtx-dynamictext {
	display: none !important;
}
.buttons .btn{
	padding: 22px 25px;
}
.buttons li:first-of-type{
	margin-right: 30px;
}
.fifth-screen .container .box .btns-row  .buttons .btn {
    padding: 15px 15px;
	font-size: 14px;
	font-weight: 700;
}
.buttons{
	padding-left: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
}
#first-screen {
    position: relative;
}
#main-video{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}
.btn-sound{
	position: absolute;
	right: 20px;
	top: 20px; 
}
.btn-sound i:before{
	font-size: 30px;
	font-family: fontawesome;
	color: #fff;
}
.btn-sound i:hover:before{
	color: #2990AF;
}
#lesson .cards-slider {
    margin: 0 -15px 40px !important;
}
#lesson h4{
	margin-bottom: 20px;
	font-size: 24px;
}
.fifth-screen .container .box .box-bottom .right .info ul{
	margin-bottom: 30px !important;
}
.modal form br{
	display: none;
}
.modal form > p > span{
	margin-bottom: 15px !important;
	display: block;
}
.modal form > p > span.your-tel{
	margin-bottom: 0 !important;
}
.modal form .btn.disabled, 
.modal form input.disabled[type="submit"],
.box-form .btn.disabled,
.form-screen .btn.disabled{
	background: #ccc !important;
	pointer-events: none !important;
}
.third-screen .container .content .box-form .center label span{
	cursor: pointer;
}
.third-screen .container .content .box-form .center label input[type="checkbox"]:after{
	display: none !important;
}
.third-screen .container .content .box-form .center label input[type="checkbox"]:checked + span:before{
	content: '\f00c' ;
	font-family: fontawesome;
	position: absolute;
	left: 0 ;
    top: 0 ;
    height: 24px ;
    width: 24px ;
	display: flex ;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 15px ;
	color: #FF6B00;
}
#first-screen {
	background-position: center;
}
.wpcf7 .ajax-loader{
	position: absolute !important;
}
@media (max-width: 1199px) {
	div:not(.icon-box):empty {
		display: none !important;
	}
	.fifth-screen .container .box .btns-row > div:nth-of-type(2){
		width: calc(100% - 33.333333%);
		justify-content: flex-start;
	}
}
@media (max-width: 767px) {
	.fifth-screen .container .box .btns-row > div:nth-of-type(2){
		width: 100%;
		justify-content: center;
		margin-bottom: 30px;
	}
	.accordion{
		margin-bottom: 15px !important;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		overflow: hidden;
	}
	.accordion h3{
		text-align: left;
		background: #2EC1CE;
		padding: 15px 25px;
		color: #fff;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		cursor: pointer;
	}
	.accordion.open h3:after{
		content: '\f068';
	}
	.accordion h3:after{
		content: '\f067';
		position: relative;
		display: block;
		font-family: fontawesome;
	}
	.accordion.open ul{
		display: block;
	}
	.accordion ul{
		padding: 25px 25px 25px 40px !important;
		display: none;
		margin: 0 !important;
		transition: all 0.3s linear;
	}
	.fifth-screen .container .box .box-bottom .right .info{
		width: 100% !important;
	}
	#first-screen {
		background-image: var(--background-mobile) !important;
		background-size: cover;
	}
}
@media (max-width: 568px) {
	.first-screen .buttons{
		flex-direction: column;
	}
	.fifth-screen .container .box .buttons .btn{
		font-size: 18px !important;
	}
	#fourth-screen .buttons .btn,
	.fifth-screen .container .box .buttons .btn,
	.first-screen .buttons .btn{
		width: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.buttons li:first-of-type{
		margin-right: 0;
		margin-bottom: 15px;
	}
	.fifth-screen .container .box .buttons{
		flex-direction: column;
		width: 100%;
	}
	#fourth-screen .buttons{
		flex-direction: column;
		width: 100%;
	}
}
/*# sourceMappingURL=global.css.map */