@import "variables";
@import "global";


/*First-screen*/
.first-screen {
  background-image: url(../img/fon_1.png);
  min-height: calc(100vh - 100px);
  background-size: cover;
  color: $white;

  @media (max-width: 568px) {
    background-position-x: 50%;
    height: auto;

    min-height: calc(100vh - 80px);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      width: 100%;
      max-width: 572px;
      padding-top: 165px;

      @media (max-width: 568px) {
        padding: 100px 0 0 0;
      }


      h1 {
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: 900;

        @media (max-width: 568px) {
          font-size: 30px;
        }
        @media (max-width: 360px) {
          font-size: 18px;
        }
      }

      p {
        max-width: 486px;
        font-size: 20px;
        margin: 0 0 40px 0;

        @media (max-width: 568px) {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }

      .btn {
        @media (max-width: 568px) {
          padding: 13px 26px;
        }
      }
    }

    .bottom {
      font-size: 30px;
      position: relative;
      width: 100%;
      padding-bottom: 40px;

      @media (max-height: 800px) {
        margin-top: 64px;
      }

      @media (max-width: 568px) {
        margin-top: 64px;
      }

      h4 {
        font-size: 30px;
        margin: 0 0 32px 0;

        @media (max-width: 568px) {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }

    }
  }
}

/*Third-screen*/
.third-screen {
  padding-bottom: 105px;

  .container {
    h3 {
      margin: 0 0 40px 0;

      @media (max-width: 568px) {
        margin: 0 0 20px 0;
      }
    }


    .advantages-list {
      display: flex;
      flex-wrap: wrap;

      width: calc(100% + 30px);
      margin-left: -15px;

      .box {
        display: flex;
        background: $white;

        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        width: calc(33.333333% - 30px);
        margin: 0 15px 15px;

        //advantage icons
        &:nth-child(1) {
          .left {
            .icon-box {
              background-image: url('../img/adv-ico-1.png');
            }
          }
        }
        &:nth-child(2) {
          .left {
            .icon-box {
              background-image: url('../img/adv-ico-2.png');
            }
          }
        }
        &:nth-child(3) {
          .left {
            .icon-box {
              background-image: url('../img/adv-ico-3.png');
            }
          }
        }
        &:nth-child(4) {
          .left {
            .icon-box {
              background-image: url('../img/adv-ico-4.png');
            }
          }
        }
        &:nth-child(5) {
          .left {
            .icon-box {
              background-image: url('../img/adv-ico-5.png');
            }
          }
        }
        &:nth-child(6) {
          .left {
            .icon-box {
              background-image: url('../img/adv-ico-6.png');
            }
          }
        }
        @media (max-width: 1200px) {
          width: calc(50% - 30px);
        }
        @media (max-width: 768px) {
          width: calc(100% - 30px);
        }

        .left {
          //background-image: url(../img/icon.png);
          display: flex;
          align-items: center;
          justify-content: center;

          width: 124px;

          padding: 20px 24px 20px 30px;

          .icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat;
    
            width: 70px;
            height: 70px;

            border-radius: 15px;

            background-color: $light-grey;

            // &:nth-child(1)::before {
            //   content: url("../img/icon.png");
            // } 
            // &:before {
            //   content: url("../img/icon.png");
            // }
          }
        }

        .right {
          width: calc(100% - 124px);

          display: flex;
          flex-direction: column;

          padding: 20px 20px 20px 0;

          h5 {
            margin: 0 0 5px 0;
          }

          p {
            margin: 0;
          }
        }
      }
    }

  }
}

/*Fifth-screen*/
.fifth-screen {
  padding-top: 120px;

  .container {
    h3 {
      margin: 0;
    }


    .box {
      margin-top: 50px;
      margin-bottom: 25px;

      &:nth-child(2n) {
        .box-top {
          h4 {
            position: relative;

            &::before {
              content: url(../img/robot_2.png);

              position: absolute;
              left: -188px;
              bottom: -3px;

              @media (max-width: 568px) {
                left: -75px;
                content: url(../img/robot_2-mob.png);
              }

              @media (max-width: 425px) {
                content: none;
              }
            }
          }
        }
      }


      .box-top {
        background: $light-blue;
        color: $white;
        border-radius: 15px;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          padding: 50px 0;
          text-align: center;
          font-size: 20px;
          position: relative;

          width: fit-content;

          @media (max-width: 568px) {
            font-size: 14px;
            padding: 25px 0;
          }

          &::before {
            content: url(../img/robot_1.png);

            position: absolute;
            left: -183px;
            bottom: -3px;

            @media (max-width: 768px) {
              left: -133px;
            }

            @media (max-width: 568px) {
              left: -75px;
              content: url(../img/robot_1-mob.png);
            }

            @media (max-width: 425px) {
              content: none;
            } 
          }
        }
      }

      .box-bottom {
        display: flex;
        margin: 32px 0;

        @media (max-width: 992px) {
          flex-direction: column;
        }

        @media (max-width: 360px) {
          margin: 0;
        }

        .left {
          width: 384px;

          @media (max-width: 992px) {
            width: 100%;
            margin-bottom: 20px;

            display: flex;
            justify-content: center;
          }


          img {
            width: 100%;
            height: auto;

            border-radius: 15px;

            @media (max-width: 992px) {
              max-width: 450px;
            }
          }
        }

        .right {
          width: calc(100% - 384px);
          padding-left: 24px;
          font-size: 14px;
          display: flex;
          flex-wrap: wrap;

          @media (max-width: 992px) {
            width: 100%;
            padding-left: 0;
          }


          .info {
            width: 48%;

            @media (max-width: 1200px) {
              width: 49%;
              margin-right: 0.5%;
            }

            @media (max-width: 568px) {
              width: 100%;
            }

            h5, p {
              margin-bottom: 8px;
            }

            ul {
              list-style: none;
              padding-left: 14px;

              li {
                position: relative;
                margin-bottom: 8px;

                @media (max-width: 1200px) {
                  font-size: 14px;
                }

                &::before {
                  position: absolute;
                  content: url("../img/square.png");
                  left: -14px;

                }
              }
            }
          }
        }

        a {
          text-decoration: none;
        }
      }

      .btns-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        //padding-bottom: 115px;

        & > div {
          width: 33.333333%;

          display: flex;
          justify-content: center;

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        .show-all {
          justify-content: flex-end;

          @media (max-width: 768px) {
            justify-content: center;
            margin-top: 20px;
          }
        }

        .btn {
          font-weight: normal;
          font-size: 16px;
        }

        .btn-trn {
          background: none;
          color: $secondary;
          position: relative;

          display: flex;
          align-items: center;

          padding: 0;

          &::after {
            content: url("../img/arrow_1.png");
            margin-left: 15px;
          }
        }

      }
    }
  }
}

/*Sixth-screen*/
.sixth-screen {

  .container {

    h3 {
      margin: 120px 0 40px 0;

      @media (max-width: 768px) {
        margin: 80px 0 40px 0;
      }
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      width: calc(100% + 30px);

      margin-left: -15px;
      margin-bottom: 120px;

      .col {
        width: calc(33.33333% - 30px);
        margin: 0 15px;

        box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;

        overflow: hidden;

        @media (max-width: 992px) {
          width: calc(50% - 30px);
          margin-bottom: 15px;
        }
        @media (max-width: 568px) {
          width: calc(100% - 30px);
        }

        .top {
          background: $light-blue;

          h5 {
            text-align: center;
            padding: 16px 0;
            color: $white;
          }
        }

        .bottom {
          background: $white;

          padding: 24px 24px 32px 24px;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

/*Form screen*/
.form-screen{
  border-radius: 0;
}

